<div{{attributes}} class="inputcolour-fields">


<div class="component-color">
    <div class="box">
        <div class="color-circle">
          <input {{ attributes }} placeholder="Meeting text colour" type="color" name="{{ element["#name"] }}" value="{{ element["#default_value"] }}">
        </div>
    </div>
<span>{{ element["#default_value"] }}</span>

</div>

</div>
